# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/
.conda/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/chat_bi.db
data/uploads/
